<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{{title}}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    {{{body}}}
    <script src="/public/js/client_side_validation.js">
    </script>
</body>

</html>
