<main>
  <p>{{error}}</p>

  <nav class="container">
    <a href="/tasks/create">
      Create a Task
    </a>
    <br />
    <a href="/tasks/tasks">
      View tasks
    </a>
    <br />
    <a href="/logout">
      Log Out
    </a>
  </nav>
</main>