<main>
  <p>{{error}}</p>

  <nav class="container">
    <a href="/tasks/create">
    Click here to create a task!
    </a>
    <br />
    <a href="/tasks/tasks">
      Click here to view tasks!
    </a>
    <br />
    <a href="/logout">
      Click here to logout!
    </a>
  </nav>
</main>