    <h1 class="login-head">Welcome To Ducks In A Row!</h1>
    <img class="photo" src="/public/images/ducks.png" alt="Ducks in a row">
    <main>
        <br>
        <div class="login">
            <form class="login" id=login-form action=/login method=POST>
                <label for="emailAddressInput"> Email address:
                    <br>
                    <input type=email name="emailAddressInput" id="emailAddressInput"/>
                </label>
                <br>
                <label for="passwordInput"> Password:
                    <br>
                    <input type=password name="passwordInput" id="passwordInput"/>
                </label>
                <br>
                    <br>
                    <input type=submit value="Login!" />
            </form>
        </div>
        <p class=error>
            {{error}}
        </p>

        <p class="login">Don't have an account? 
            <a class="login" href=/register>
                Register Here.
            </a>
        </p>
       
    </main>
