    <h1 class="login-head">Welcome To Ducks In A Row!</h1>
    <img class="photo" src="/public/images/ducksinarow.jpeg" alt="Ducks in a row">
    <main>
        <h2 class="login">Please log in to your user account.</h2>
        <div class="login">
            <form class="login" id=login-form action=/login method=POST>
                <label for="emailAddressInput"> Please enter your email address:
                    <br>
                    <input type=email name="emailAddressInput" id="emailAddressInput"/>
                </label>
                <br>
                <label for="passwordInput"> Please enter your password:
                    <br>
                    <input type=password name="passwordInput" id="passwordInput"/>
                </label>
                <br>
                <label> Submit:
                    <br>
                    <input type=submit value="Login!" />
                </label>
            </form>
        </div>
        <p class=error>
            {{error}}
        </p>

        <p class="login">Don't have an account? 
            <a class="login" href=/register>
                Register
            </a>
        </p>
       
    </main>
