    <h1>Login</h1>
    <main>
        <form id=login-form action=/login method=POST>
            <label for="emailAddressInput"> Email address:
                <br>
                <input type=email name="emailAddressInput" id="emailAddressInput"/>
            </label>
            <br>
            <label for="passwordInput"> Password:
                <br>
                <input type=password name="passwordInput" id="passwordInput"/>
            </label>
            <br>
            <label>
                <br>
                <input type=submit value="Submit!" />
            </label>
        </form>
        <p class=error>
            {{error}}
        </p>
        <a href=/register>
            Register Here!
        </a>
    </main>
