    <h1>{{title}}</h1>
    <main>
        <p>Please log in to your user account.</p>
        <form id="login-form" action="/users/login" method="post">
            <label for="emailAddressInput"> Please enter your email address:
                <br>
                <input type="email" name="emailAddressInput" id="emailAddressInput"/>
            </label>
            <br>
            <label for="passwordInput"> Please enter your password:
                <br>
                <input type="password" name="passwordInput" id="passwordInput"/>
            </label>
            <br>
            <label> Submit:
                <br>
                <input type="submit" value="Login!" />
            </label>
        </form>
        <p class=error>
            {{error}}
        </p>
        {{#if hasErrors}}
        <ul class="errorList">
        {{#each errorList}}
            <li>
            <p  class="error">{{ this }}</p>
            </li>
            {{/each}}
        </ul>           
        {{/if}}
        <a href="/users/register">
            Click here to register!
        </a>
    </main>
