<main>

    <img src={{image}} alt="">
    <h2>username:{{userName}}</h2>
    <h2>emailaddress{{emailAddress}}</h2>
    <div>
        <div>
            <a href="/tasks/createATask">Create A Task</a>
        </div>
        <div>
            <a href="/tasks/createASchedule">Create A Schedule</a>
        </div>
        <div>
            <a href="/tasks/viewTasks">View Tasks</a>
        </div>
        <div>
            <a href="/tasks/calendarView">Calendar View</a>
        </div>
        <div>
            <a href="/tasks/productivityTracking">ProductivityTracking</a>
        </div>
    </div>
    <a href="users/logout">Log Out</a>
</main>