<h1>Register</h1>
    <main>
        <p class="register">
            Please register a new user account.
        </p>
        <div class="register">
            <form class="register" id=registration-form action=/register method=POST>
                <label for="firstNameInput">
                    Please enter your first name:
                    <br>
                    <input type=text name="firstNameInput" id="firstNameInput"/>
                </label>
                <br>
                <label for="lastNameInput">
                    Please enter your last name:
                    <br>
                    <input type=text name="lastNameInput" id="lastNameInput"/>
                </label>
                <br>
                <label for="emailAddressInput">
                    Please enter your email address:
                    <br>
                    <input type=email name="emailAddressInput" id="emailAddressInput"/>
                </label>
                <br>
                <label for="userNameInput">
                    Please enter your user name:
                    <br>
                    <input type=text name="userNameInput" id="userNameInput"/>
                </label>
                <br>
                <label for="dateOfBirthInput">
                    Please enter your date of birth:
                    <br>
                    <input type=date name="dateOfBirthInput" id="dateOfBirthInput"/>
                </label>
                <br>
                <label for="passwordInput">
                    Please enter your password:
                    <br>
                    <input type=password name="passwordInput" id="passwordInput"/>
                </label>
                <br>
                <label for="confirmPasswordInput">
                    Please confirm your password:
                    <br>
                    <input type=password name="confirmPasswordInput" id="confirmPasswordInput"/>
                </label>
                <br>
                <label>
                    Submit:
                    <br>
                    <input type=submit value="Register!"/>
                </label>
            </form>
        </div>
        <p class=error>
            {{error}}
        </p>
        <p class="register">Already have an account? 
            <a href=/login>
                Click here to log-in
            </a>
        </p>
    </main>
