<h1>Register</h1>
    <main>
        <form id=registration-form action=/register method=POST>
            <label for="firstNameInput">
                First name:
                <br>
                <input type=text name="firstNameInput" id="firstNameInput"/>
            </label>
            <br>
            <label for="lastNameInput">
                Last name:
                <br>
                <input type=text name="lastNameInput" id="lastNameInput"/>
            </label>
            <br>
            <label for="dateOfBirthInput">
                Date of Birth:
                <br>
                <input type=date name="dateOfBirthInput" id="dateOfBirthInput"/>
            </label>
            <br>
            <label for="emailAddressInput">
                E-mail address:
                <br>
                <input type=email name="emailAddressInput" id="emailAddressInput"/>
            </label>
            <br>
            <label for="userNameInput">
                Username:
                <br>
                <input type=text name="userNameInput" id="userNameInput"/>
            </label>
            <br>
            <label for="passwordInput">
                Please enter a password at least 8 letters long, with at least one uppercase letter, one number, and one special character:
                <br>
                <input type=password name="passwordInput" id="passwordInput"/>
            </label>
            <br>
            <label for="confirmPasswordInput">
                Retype your password:
                <br>
                <input type=password name="confirmPasswordInput" id="confirmPasswordInput"/>
            </label>
            <br>
            <br>
            <label>
                <input type=submit value="Register!"/>
            </label>
        </form>
        <p class=error>
            {{error}}
        </p>
        <a href=/login>
            Already have an account? Click here to log in.
        </a>
    </main>
