<h1>Register a New Account</h1>
    <main>
        <p class="register">
        </p>
        <div class="register">
            <form class="register" id=registration-form action=/register method=POST>
                <label for="firstNameInput">
                    First Name:
                    <br>
                    <input type=text name="firstNameInput" id="firstNameInput"/>
                </label>
                <br>
                <label for="lastNameInput">
                    Last Name:
                    <br>
                    <input type=text name="lastNameInput" id="lastNameInput"/>
                </label>
                <br>
                <label for="dateOfBirthInput">
                    Date of Birth:
                    <br>
                    <input type=date name="dateOfBirthInput" id="dateOfBirthInput"/>
                </label>
                <br>
                <label for="emailAddressInput">
                    Email Address:
                    <br>
                    <input type=email name="emailAddressInput" id="emailAddressInput"/>
                </label>
                <br>
                <label for="userNameInput">
                    User Name:
                    <br>
                    <input type=text name="userNameInput" id="userNameInput"/>
                </label>
                <br>
                <label for="passwordInput">
                    Password:
                    <br>
                    <input type=password name="passwordInput" id="passwordInput"/>
                </label>
                <br>
                <label for="confirmPasswordInput">
                    Retype Password:
                    <br>
                    <input type=password name="confirmPasswordInput" id="confirmPasswordInput"/>
                </label>
                <br>
                <label>
                    <br>
                    <input type=submit value="Register!"/>
                </label>
            </form>
        </div>
        <p class=error>
            {{error}}
        </p>
        <p class="register">Already have an account? 
            <a href=/login>
                Click Here to Log In.
            </a>
        </p>
    </main>
