<h1>Users</h1>
<main>
    <p> User Name: {{userName}} <p>
    <p> Email: {{email}} <p>
    <p> Date of Birth: {{dateOfBirth}} <p>
    <a href=/tasks>
        Click here to view tasks!
    </a>
    <br>
    <a href=/logout>
        Click here to logout!
    </a>
</main>
