<main>
    <a href="/users/protected">Back to Personal Page</a>
    <a href="/">Back to Home Page</a>
    <a href="/logout">Log Out</a>
    <div>
        <div class="tasks">
            <a href="tasks//allTasks">All Tasks</a>
            
        </div>
        <div class="tasks"> 
            <a href="/tasks/privateTasks">Private Tasks</a>
        </div>
    </div>
    <br>
    <div>
        <div class="tasks">
            <a href="/tasks/publicTasksBBS">Public Tasks BBS</a>
            
        </div>
        <div class="tasks">
            <a href="/tasks/myPublicTasks">Public Tasks</a>
        </div>
    </div>
</main>