* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14pt;
}

body {
  background: #dacfc5;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

header {
  border-bottom: 1px solid #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

h1 {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

h2 {
  color: #211000;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  text-align: center;
}

h5 {
  font-size: 1.15rem;
  text-align: center;
}

h6 {
  font-size: 1.05rem;
  text-align: center;
}

p {
  color: #512e00;
  font-size: 1rem;
  line-height: 2;
}

p.error,
h1.error {
  color: #a00;
}

label {
  color: #512e00;
  font-weight: bold;
}

i.flagged,
i.resolved,
i.progress {
  color: #a00;
}

table {
  width: 100%;
}

img.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
}

table,
th,
td {
  border: 1px solid #06591b;
  border-collapse: collapse;
}

th,
td {
  padding: 2px 4px;
}

.date,
.time {
  width: 200px;
  text-align: center;
}

.task {
  width: calc(100% - 200px);
}

#login-form {
  display: inline-block;
  text-align: center;
}

.login {
  text-align: center;
}

.register {
  text-align: center;
}

.container {
  display: flex;
  gap: 0.625%;
}

a {
  flex: 1;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: #daad86;
}

a:link,
a:visited,
a:focus {
  color: #7a5f4e;
}

a:hover {
  background: #bc986a;
}

a:active {
  background: #8d8741;
  color: white;
}
