<main>
    <div id="createForm">

    
        <form id="selectScheduleTime" action="/schedule" method="post" >

            <label for="nameInput">
                Schedule name:
                <input type=text name="nameInput" id="nameInput" value = "Schedule01">
            </label>
            <br>

            <label for="startDateInput">
                Schedule Start date:
                <br>
                <input type=date name="startDateInput" id="startDateInput" value = {{startDate}}>
            </label>
            <br>
            <label for="EndDateInput">
                Schedule End date:
                <br>
                <input type=date name="EndDateInput" id="EndDateInput" value = {{endDate}}>
            </label>
            <br>
            <label for="StartAMInput">
                Please enter AM schedule time span:
                <br>
                <input type=time name="StartAMInput" id="StartAMInput" value = "08:00">
            </label>
            <label for="EndAMInput">
                To:
                <input type=time name="EndAMInput" id="EndAMInput" value = "12:00">
            </label>
            <br>
            <label for="StartPMInput">
                Please enter PM schedule time span:
                <br>
                <input type=time name="StartPMInput" id="StartPMInput" value ="14:00">
            </label>
            <label for="EndPMInput">
                To:
                <input type=time name="EndPMInput" id="EndPMInput" value = "18:00">
            </label>
            <br>
            
            <select name="selectInput" id="selectInput">
                <option value="manually">Generate a schedule manually</option>
                <option value="oneClick">Generate a schedule with one click</option>
            </select>

            
            <input type="submit" value="submit">
            <input type="reset" value="reset">
        
        </form>
        <ul id="errorList"  hidden>

        </ul>
        <a href="/" id="viewSch">view current schedules</a>
    </div>

       
      <table class="tasks" hidden>
        <thead >
          <tr>
            <th>Tasks<br><a href='/' id="taskCell">Reset Task Assignment</a></th>
          </tr>
        </thead>
        <tbody class="tasks">
        </tbody>
      </table>
    
    
    
      <table  class="schedule" hidden>
        <thead>
          <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tueday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
      
      <a href="/" id="deleteSch" hidden>Delete this schedule</a>
      <div class="deleteDiv" hidden>Are you sure?
        </div>
        <a href="/" id="confirmDel" hidden>Yes</a>
        <a href="/" id="noDel" hidden>No</a>
       

      
      
    <ul id="switch">
      
    </ul>
    <footer><a href="/users">Back to users</a></footer>
    
    <footer id="dateFooter"></footer>


   



</main>