<h1>All Tasks</h1>
<main>
  <ul>
    {{#each taskList}}
      <li>
        {{this.taskName}}
        <a href="/tasks/{{this._id}}">
          Click here to go to this task!
        </a>
      </li>
    {{/each}}
  </ul>
  <a href="/tasks/tasks" tasks>
    Click here to return to tasks!
  </a>
  <br />
  <a href="/users">
    Click here to return to users!
  </a>
  <br />
  <a href="/logout">
    Click here to logout!
  </a>
</main>