<h1>{{title}}</h1>
<main>
  <p>
    Create a New Task Here.
  </p>
  <form id="create-form" action="/tasks/create" method="POST">
    <label for="nameInput">
      Task Name:
      <br />
      <input type="text" name="nameInput" id="nameInput" />
    </label>
    <br />
    <label for="descriptionInput">
      Description:
      <br />
      <input type="text" name="descriptionInput" id="descriptionInput" />
    </label>
    <br />
    <label for="publicPostInput">
      Type:
      <br />
      <select name="publicPostInput" id="publicPostInput">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </label>
    <br />
    <label for="dateDueInput">
      Due Date:
      <br />
      <input type="date" name="dateDueInput" id="dateDueInput" />
    </label>
    <br />
    <label for="timeDueInput">
      Due Time:
      <br />
      <input type="text" name="timeDueInput" id="timeDueInput" />
    </label>
    <br />
    <label for="maxContributorInput">
      Task's Max Contributors:
      <br />
      <input
        type="number"
        name="maxContributorInput"
        id="maxContributorInput"
        min="1"
      />
    </label>
    <br />
    <label for="durationInputH">
      Duration in Hours:
      <br />
      <input
        type="number"
        name="durationInputH"
        id="durationInputH"
        min="0"
        max="24"
      />
    </label>
    <br />
    <label for="durationInputM">
      Duration in Additional Minutes:
      <br />
      <input
        type="number"
        name="durationInputM"
        id="durationInputM"
        min="0"
        max="60"
      />
    </label>
    <br />
    <label for="priorityInput">
      Priority number:
      <br />
      <input
        type="number"
        name="priorityInput"
        id="priorityInput"
        min="0"
        max="10"
      />
    </label>
    <br />
    <label>
      <br />
      <input type="submit" value="Create!" />
    </label>
    <input type="reset" value="Reset" />

  </form>
  <p class="error">
    {{error}}
  </p>
  <nav class="container">
    <a href="/tasks/create">
      Create a Task
    </a>
    <br />
    <a href="/tasks/tasks">
      View tasks
    </a>
    <br />
    <a href="/logout">
      Log Out
    </a>
  </nav>
</main>
