<h1>{{title}}</h1>
<main>
  <a href="/tasks/all">
    All Tasks
  </a>
  <br />
  <a href="/tasks/private">
    Private Tasks
  </a>
  <br />
  <a href="/tasks/public">
    Accepted Public Tasks 
  </a>
  <br />
  <a href="/tasks/forum">
    Available Public Tasks
  </a>
  <br />
  <a href="/users">
    Return to Users
  </a>
  <br />
  <a href="/logout">
    Log Out
  </a>
</main>
