<h1>Tasks</h1>
<main>
  <a href="/tasks/all">
    Click here to view all tasks!
  </a>
  <br />
  <a href="/tasks/private">
    Click here to view all private tasks!
  </a>
  <br />
  <a href="/tasks/public">
    Click here to view all public tasks that you have accepted!
  </a>
  <br />
  <a href="/tasks/forum">
    Click here to view the forum of available public tasks!
  </a>
  <br />
  <a href="/users">
    Click here to return to users!
  </a>
  <br />
  <a href="/logout">
    Click here to logout!
  </a>
</main>